# Ignore node_modules directory
node_modules/

# Ignore built output
dist/
out/
build/
.vscode/
data/*/
.vs/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
